* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* #0b0633 */
.mobileMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
.productsTab {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: center;
}
.productCard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  color: white;
  font-size: 1.5vh;
  margin-top: 50px;
  margin-bottom: 20px;
}
.cardImage {
  display: block;
  width: 10vw;
  height: 30vh;
  object-fit: fill;
}
.sepCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.individualCards {
  margin: 10px;
}
.cards {
  position: fixed;
  top: 52.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cardText {
  font-size: 0.87vw;
}
.PEOB {
  max-width: 60vw;
}
.hpImage {
  height: 300px;
  width: auto;
  object-fit: cover;
}
.mobileBtns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.App {
  text-align: center;
}

.webNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.webNavItem {
  margin: 0 0.75vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
